<section class="section section-padded">
    <div class="container-fluid" style="float:center;">
        <div class="row-fluid">

            <div class="custom">
                <div class="section-header">
                    <h1>
                        Latest
                        <small class="light">updates</small>
                    </h1>
                </div>
            </div>

            <div class="inlinedcontainer">
                <div class="inlinedblock first span4">
                    <p class="fa fa-scissors"></p>
                    <h3>News</h3>
                    <p>
                        <a href="index.html#">Work Visa discontinued</a>
                    </p>
                    <p>
                        <a href="index.html#">News Item 2</a>
                    </p>
                    <p>
                        <a href="findex.html#">News Item 3</a>
                    </p>
                </div>

                <div class="inlinedblock span4">
                    <p class="fa fa-scissors"></p>
                    <h3>Postings</h3>
                    <p>
                        <a href="index.html#">Job1</a>
                    </p>
                    <p>
                        <a href="index.html#">Job2</a>
                    </p>
                    <p>
                        <a href="index.html#">Job3</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
