<!-- Page Header -->
<header id="masthead">
    <nav class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="index.html#menu" class="btn btn-navbar"></a>
                <h1 class="brand">
                    <a class="brand pull-left" href="index.html">
                        <span class="site-title" title="DutchItRecruitment">DutchITRecruitment</span>
                    </a>
                </h1>

                <div>
                    <ul class="nav menu">
                        <li class="item-101 default current active">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="item-108 deeper parent dropdown">
                            <a href="roles.html">Services</a>
                            <ul class="nav-child small dropdown-menu">
                                <li class="nav subitem">
                                    <a href="roles.html#recruitment">Company dedicated</a>
                                </li>
                                <li class="nav subitem">
                                    <a href="roles.html#relocation">Individual oriented</a>
                                </li>
                                <li class="nav subitem">
                                    <a href="roles.html#family">Family focus</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="item-109">
                            <a href="findex.html#">Articles</a>
                        </li> -->
                        <li class="item-111">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
</header>
