<section class="section section-grey"></section>
<!-- boxes -->
<section class="boxes">
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="section-header">
                <h1>What
                    <small class="light">we do</small>
                </h1>
            </div>
            <p>&nbsp;</p>

            <div class="divided">
                <div class="customdivided first">
                    <img src="/img/recruitment.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#recruitment">
                        <h3 class="text-center">Recruitment</h3>
                    </a>
                    <!-- <p>
                        <strong>
                                Read
                            </strong>
                            More
                    </p> -->
                </div>

                <div class="customdivided">
                    <img src="/img/relocation.png" class="img-circle bordered"/>
                    <a class="more-link" href="roles.html#relocation">
                        <h3 class="text-center">Relocation</h3>
                    </a>
                </div>

                <div class="customdivided">
                    <img src="/img/paperwork.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#integration">
                        <h3 class="text-center">Bureaucratic</br>Help</h3>
                </a>
            </div>

            <div class="customdivided">
                <img src="/img/family.png" class="img-circle bordered" width="75px" height="75px"/>
                <a class="more-link" href="roles.html#family">
                    <h3 class="text-center">Family</br>matters</h3>
            </a>
        </div>
    </div>
</div>
</div>
</section>
