<section class="section section-grey"></section>
<!-- boxes -->
<section class="boxes">
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="section-header">
                <h1>What
                    <small class="light">we do</small>
                </h1>
            </div>
            <p>&nbsp;</p>

            <div class="divided" ng-if="$ctrl.showSection == 0">
                <div class="customdivided first" ng-click="$ctrl.showSection = 1;">
                    <img src="/img/recruitment.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#recruitment">
                        <h3 class="text-center">Recruitment</h3>
                    </a>
                    <!-- <p> <strong> Read </strong> More </p> -->
                </div>

                <div class="customdivided" ng-click="$ctrl.showSection = 2;">
                    <img src="/img/relocation.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#relocation">
                        <h3 class="text-center">Relocation</h3>
                    </a>
                </div>

                <div class="customdivided" ng-click="$ctrl.showSection = 3">
                    <img src="/img/paperwork.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#integration">
                        <h3 class="text-center">Bureaucracy</h3>
                    </a>
                </div>

                <div class="customdivided" ng-click="$ctrl.showSection = 4">
                    <img src="/img/family.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#family">
                        <h3 class="text-center">Family matters</h3>
                    </a>
                </div>
            </div>

            <div ng-if="$ctrl.showSection == 1" ng-click="$ctrl.showSection = 0;">
                <div class="customdivided first">
                    <img src="/img/recruitment.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#recruitment">
                        <h3 class="text-center">Recruitment</h3>
                    </a>
                </div>
                <div class="customdivided">
                    We strive to match developers who match the companiy and a company who matches the developer. Our focus is connecting motivated and professional iOS, Android and Java developers with innovative companies within the Netherlands. The professionals we
                    work with are not only locaed in The Netherlands but in many countries abroad.
                </div>
            </div>

            <div ng-if="$ctrl.showSection == 2" ng-click="$ctrl.showSection = 0;">
                <div class="customdivided first">
                    <img src="/img/relocation.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#recruitment">
                        <h3 class="text-center">Relocation</h3>
                    </a>
                </div>
                <div class="customdivided">
                    We know its not easy to make the first move to relocate and work in a new country. You probably have to deal enough with closure in your current place. Thats why we offer relocation services, which include visa request, finding a place to live and arrange 30% ruling.

Paper work:Once you arrive you probabaly wonder how and when the rest of the paperwork needs to be done. We can help you arrange all the necessary paperwork and/or help you understand the paperwork you receive from different instance.
                </div>
            </div>

            <div ng-if="$ctrl.showSection == 3" ng-click="$ctrl.showSection = 0;">
                <div class="customdivided first">
                    <img src="/img/paperwork.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#recruitment">
                        <h3 class="text-center">Bureaucracy</h3>
                    </a>
                </div>
                <div class="customdivided">
                    Customs differ for one country to the next. From dealing with "Dutch directness" to the less known quirks of communication, we can guide you through new ways of interacting.
                </div>
            </div>

            <div ng-if="$ctrl.showSection == 4" ng-click="$ctrl.showSection = 0;">
                <div class="customdivided first">
                    <img src="/img/family.png" class="img-circle bordered" width="75px" height="75px"/>
                    <a class="more-link" href="roles.html#recruitment">
                        <h3 class="text-center">Family matters</h3>
                    </a>
                </div>
                <div class="customdivided">
                    If you will be accompanied by family, we will help you find kindergardens, school and activities for all members.
                </div>
            </div>

        </div>
    </div>
</section>
