<div class="inlinedcontainer">
    <div class="inlinedblock">
        <!-- <img ng-src="{{fb()}}" width=50% height=50% ng-mouseover="fbhovered()"/> -->
        <a href="https://www.facebook.com/DutchIT-Recruitment"  target="_blank">
            <img src="img/socialMedia/fbhover.png" width=50% height=50%/>
        </a>
    </div>
    <div class="inlinedblock">
        <a href="" target="_blank">
            <img src="img/socialMedia/linkedInhover.png" width=50% height=50%/>
        </a>
    </div>
    <div class="inlinedblock">
        <a href="https://www.snapchat.com/add/dutchit_recr"  target="_blank">
            <img src="img/socialMedia/snapchathover.png" width=50% height=50%/>
        </a>
    </div>
    <div class="inlinedblock">
        <a href="https://twitter.com/DutchIT_recr"  target="_blank">
            <img src="img/socialMedia/twitterhover.png" width=50% height=50%/>
        </a>
    </div>
    <div class="inlinedblock">
        <a href="https://www.instagram.com/dutchit_recr/"  target="_blank">
            <img src="img/socialMedia/instahover.png" width=50% height=50%/>
        </a>
    </div>
</div>
